/* Global Styles (e.g., in index.css or a global styles component) */
:root {
  --primary-color: #333;
  --primary-text-color: white;
  --secondary-color: #f0f0f0;
  --secondary-text-color: #333;
  --button-hover-color: #2492b3;
  font-family: 'PublicPixel', Verdana;
}

img {
  user-select: none; /* Prevents selection */
  pointer-events: none; /* Prevents mouse interactions */
}

button {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes move-car {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Adjust the distance as needed */
  }
  100% {
    transform: translateX(0);
  }
}
