@font-face {
    font-family: 'PublicPixel';
    src: url('./PublicPixel.ttf') format('truetype');
  }
  
  :root {
    
    --primary-text-color: black;
    --button-hover-color: darkgrey;
  }
  
  body {
    margin: 0;
    font-family: 'PublicPixel', sans-serif;
    background-color: #e8e8e8;
    color: black;
  }

  img {
    user-select: none; /* Prevents selection */
    pointer-events: none; /* Prevents mouse interactions */
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #222;
      color: white;
    }
  }
  